body {
    background-color: #353535;
}

h1 {
    color: aqua;
    font-family: 'Lucida Sans';
    font-size: 40px;
    text-align: center;
}
h3{
    /*
        HSL colours are Hue Saturation and lightness
    */
    color:hsl(0,100%,50%);
}
h2 {
    /*
        hex colors can also be done as single characters
        in which case #f60 is the same as #ff6600
    */
    color: #f60;
    font-size: medium;
    text-align: left;
    border: 5px dashed #ffd800;
    /* RGBA takes the red green blue as integers and float for alpha
        0.1 for alpha will be 10% - i.e. nearly transparent 
    */
    background-color: rgba(255, 99, 71, 0.1);
}

p {
    color: #ff0000;
    /* Most paragraphs will be red */
    text-shadow: 10px 2px #ff6a00;
    text-align: left;
    background-color:white;
}
    /* Right aligned paragraphs will be white
    */
    p.right {
        color: white;
        text-align: right;
        background-color: black;
    }

    p.large {
        font-size: 200%;
    }

#head2 {
    text-align: center;
    color: white;
}