body {
    background-color: #b200ff; /* background-image: url("stone.png");/*"dirt.png");/**/
}

h1 {
    color: aqua;
    font-family: 'Lucida Sans';
    font-size: 40px;
    text-align: center;
}
h3{
    /*
        HSL colours are Hue Saturation and lightness
    */
    color:hsl(0,100%,50%);
}
h2 {
    /*
        hex colors can also be done as single characters
        in which case #f60 is the same as #ff6600
    */
    color: #ffdd00;
    background-color: rgba(255, 99, 71, 0.5);
    font-size: large;
    text-align: left;
    border: 5px dashed #ffd800;
    /* RGBA takes the red green blue as integers and float for alpha
        0.1 for alpha will be 10% - i.e. nearly transparent 
    
   */
}

p {
    color: #f80;
    /* Most paragraphs will be red */
    text-shadow: 10px 2px #ffffff;
    text-align: left;
    background-color:#808080;
}
    /* Right aligned paragraphs will be white
    
    p.right {
        color: white;
        text-align: right;
        background-color: black;
    }
*/
    p.large {
        font-size: 200%;
    }

#head2 {
    text-align: center;
    color: white;
}